@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


@font-face {
    font-family: 'Black Rider';
    src: 
         url('./../fonts/BlackRider.woff2') format('woff2'),
         url('./../fonts/BlackRider.woff') format('woff'),
         url('./../fonts/BlackRider.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mistery Zero';
    src: 
        url('./../fonts/Misteryzero-Regular.otf') ,
        url('./../fonts/Misteryzero-Regular.woff2') format('woff2'),
        url('./../fonts/Misteryzero-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

